footer {
  flex-direction: column;
  padding: 4em 0;
  background-color: $primary-Dark-moderate-cyan;
  .logo {
    fill: $primary-dark-desaturated;
  }
  .nav {
    &--secondary {
      max-width: 30em;
      width: 20.6em;
      margin-bottom: 2em;
      @include breakpoint-down($breakpoint-sm) {
        max-width: 20em;
        width: 15em;
      }
    }

    &__link {
      // color: $primary-Dark-blue;
      color: $primary-dark-desaturated;
      transition: color 0.2s ease-out;
      &:hover {
        background: $primary-Dark-moderate-cyan;
        // background: rgba($neutral-white, 0.6);
        color: $neutral-white;

        display: inline-block;
        padding: 0;
        text-transform: none;
        font-family: $primary-font;
        color: $neutral-white;
      }
    }
  }
  .social-links {
    margin-top: 2em;
    max-width: 20em;
    width: 10em;

    // check out about svg icons
    // fill: white;
    // color: white;
    // .social-icon {
    //   color: white;
    //   fill: black;
    //   background-color: white;
    //   &:hover {
    //     // background-color: white;
    //     fill: white;
    //   }
    // }
  }
}
