@mixin breakpoint-up($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}
@mixin breakpoint-down($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

@mixin griddy($size, $gap) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%,$size), 1fr));
  // grid-template-rows: 25em;
  gap: $gap;
  justify-content: center;
//   background-color: red;
//   display: none;
}
