.testimonials {
  padding: 7em 3em 7em;
  // margin-top: 2em;

  @include breakpoint-down($breakpoint-md) {
    padding: 5em 1em 5em;
  }
  &__heading {
    font-family: $secondary-font;
    text-transform: uppercase;
    color: $neutral-Dark-grayish-blue;
    text-align: center;
    margin-bottom: 3em;
    letter-spacing: 0.3cap;
  }
  &__name {
    color: $neutral-very-dark-desaturated-blue;
    font-size: 1.4rem;
    margin-bottom: 0.4em;
  }
  // h1 { font-size: #{"max(1vw, 20px)"}};
  &__wrapper {
    @include griddy(20em, 5em);
    @include breakpoint-down(875px) {
      grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    }
    @include breakpoint-up($breakpoint-md) {
      @include griddy(20em, 2em);
      grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    }

    .testimonial {
      font-family: $secondary-font;
      flex-direction: column;
      text-align: center;
      &__profile {
        width: 4em;
        border-radius: 50%;
      }

      &__comment {
        font-family: $primary-font;
        font-weight: 600;
        line-height: 1.7;
        max-width: 38ch;
        // color: $primary-Dark-blue;
        color: $neutral-Very-dark-grayish-blue;

        @include breakpoint-down($breakpoint-md) {
          padding: 0 0.3em;
          max-width: 25ch;
        }
      }

      &__title {
        font-family: $primary-font;
        font-weight: 400;
        color: $neutral-Grayish-blue;
      }
    }
  }
}
